<div class="col-md-12">
  <div>
    <h1>{{product.name}}&nbsp;</h1>
  </div>

  <!-- All products use the same image in this case -->
  <div class="col-md-3 thumbnail">
    <img src="images/product.png" />
  </div>

  <div class="col-md-9 product-edit-container">
    <div class="thumbnail">

      <form class="form-horizontal">
        <div class="form-group">
          <label for="productName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="productName" type="text" ng-model="product.name" class="form-control" placeholder="Product name">
          </div>
        </div>
        <div class="form-group">
          <label for="productCategory" class="col-sm-2 control-label">Category</label>
          <div class="col-sm-10">
            <input id="productCategory" type="text" ng-model="product.category" class="form-control" placeholder="Product category">
          </div>
        </div>
        <div class="form-group">
          <label for="productCode" class="col-sm-2 control-label">Code</label>
          <div class="col-sm-4">
            <input id="productCode" type="text" ng-model="product.code" class="form-control" placeholder="Code">
          </div>
          <label for="productPrice" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-4">
            <input id="productPrice" type="text" ng-model="product.price" class="form-control" placeholder="Price">
          </div>
        </div>
        <!-- details -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Add detail:</label>
          <div class="col-sm-10">
            <table class="table details-table">
              <thead>
              <th class="col-sm-6">Key</th>
              <th class="col-sm-6">Value</th>
              <th class="col-sm-2"></th>
              </thead>
              <tbody>
              <tr ng-repeat="detail in product.details track by $index">
                <td>
                  <input type="text" ng-model="detail.key" class="form-control" readonly="readonly">
                </td>
                <td>
                  <input type="text" ng-model="detail.value" class="form-control" readonly="readonly">
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="removeDetail($index)">-</button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" ng-model="addDetailKey" class="form-control" placeholder="Key">
                </td>
                <td>
                  <input type="text" ng-model="addDetailValue" class="form-control" placeholder="Value">
                </td>
                <td>
                  <button class="btn btn-success" ng-click="addDetail()">+</button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <!-- button -->
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>