<div>
  <h1>List</h1>

  <md-table-container>
    <table class="product-list" md-table md-progress="products.$promise">
      <thead md-head>
      <tr md-row>
        <th md-column>Code</th>
        <th md-column>Category</th>
        <th md-column>Name</th>
        <th md-column>Price</th>
        <th md-column></th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="p in products track by $index">
        <td md-cell>{{p.code}}</td>
        <td md-cell>{{p.category}}</td>
        <td md-cell>{{p.name}}</td>
        <td md-cell>{{p.price}}</td>
        <td md-cell>
          <div class="list-buttons" layout="row">
            <button type="button" class="btn btn-primary" ng-click="edit($index)">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="delete($index)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <div layout="row" layout-align="end center">
    <button type="button" class="btn btn-success" ng-click="add()">Add new</button>
  </div>
</div>