
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  clear: both;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

/* navbar */
.navbar-custom {
    background-color: #92288E;
    border-color: #7A2178;
}
/* title */
.navbar-custom .navbar-brand {
    color: #FFF;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: #CC1066;
    color: #FFF;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus
{
    color: #FFF;
    background-color: #CC1066;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #CC1061;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #CC1061;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CC1061;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* ---------------------------------------------------------- */
.product-list tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.product-list .list-buttons {
    display: flex;
    justify-content: space-around;
}

.product-edit-container {
    padding-left: 2em;
}
.product-edit-container > div {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.details-table tr>th:first-child, .details-table tr>th:last-child,
.details-table tr>td:first-child, .details-table tr>td:last-child {
    padding-left: 0;
    padding-right: 0;
}
.details-table th, .details-table td {
    border: none !important;
}


.canter-header {
    color: #FFF;
    background-color: #92288E;
    border-color: #7A2178;
}

